{% extends "learning_logs/base.html" %}

{% block content %}

<div class="auth-form-container">
<form action="{% url 'users:sign_up' %}" method="post" class="signup-form">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="hidden" name="next" value="{% url 'learning_logs:dashboard' %}">
    <button type="submit" class="basic-button">Sign Up</button>
</form>

<div class="signup-form-errors">
    {% if form.errors %}
    <p><strong>The following errors have been found:</strong></p>
        <ul>
            {% for message in error_messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</div>

{% endblock content %}