{% extends "learning_logs/base.html" %}

{% block content %}
<div class="item-form-container">
    <h2>Edit Exercise</h2>
    <form action="{% url 'learning_logs:edit_online_exercise' exercise.id %}" method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_table }}
        <div class="item-form-options">
            <button type="submit" class="basic-button">Submit</button>
            <a class="basic-button" href="{% url 'learning_logs:view_sources' %}">Cancel</a>
            <a class="basic-button" href="{% url 'learning_logs:delete_exercise' exercise.id %}">Delete Exercise</a>
        </div>
    </form>
</div>
{% endblock content %}
