:root {
    font-family: Tahoma, sans-serif;
    --button-color-light-blue: #3882f6;
    --bg-color-white: #dfdfdf;
    --bg-color-dark-blue: #1f2937;
    --font-color-white: #dcdcdc;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-color-white);
}

nav {
    background-color: var(--bg-color-dark-blue);
    display: flex;
    margin: 0;
    padding: 1% 0 1% 0;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    margin: 0 0 0 2%;
    color: var(--font-color-white);
    text-decoration: none;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.navbar-link-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3vw;
    margin: 0 2% 0 0;
}

.navbar-link {
    color: var(--font-color-white);
    text-decoration: none;
}

.welcome {
    --font-color: #dcdcdc;
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 3%;
}

.welcome-title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--font-color-white);
    margin: 0 0 1.5vh 0;
}

.welcome-text {
    font-size: 1.5rem;
    color: var(--font-color-white);
    width: 110vh;
    margin: 0 0 1.5vh 0;
}

.auth-menu {
    display: flex;
    align-items: center;
    gap: 4%;
}

.auth-button {
    background-color: var(--button-color-light-blue);
    border-radius: 25px;
    color: #f9faf8;
    padding: 1.5vh 3vh 1.5vh 3vh;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.sessions {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-search-container {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0 0 1% 0;
}

.date-selector > input{
    color: var(--font-color-white);
    background-color: var(--bg-color-dark-blue);
    border: 0.5vh solid var(--bg-color-dark-blue);
    border-radius: 0.6vw;
    margin: 0 1vw 0 0;
}

.date-search-button {
    background-color: var(--button-color-light-blue);
    padding: 1vh 1.5vw 1vh 1.5vw;
    border: 0;
    border-radius: 25px;
    font-size: 0.8rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}