{% extends "practice_logs/base.html" %}

{% block content %}

<div class="auth-form-container">
<form action="{% url 'users:login' %}" method="post" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{% url 'practice_logs:dashboard' %}">
    <button type="submit" class="basic-button">Log In</button>
</form>


{% if form.errors %}
    <p><strong>Your username or password didn't match our records, please try again</strong></p>
{% endif %}
</div>
{% endblock content %}