{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="welcome-text">
        <p class="welcome-title">Welcome to the Drums Learning Logs!</p>
        <p class="welcome-text">With this tool, you'll be able to keep track of your habits and ensure that you can practice consistently. Every step is a win!</p>
    </div>
    <div class="auth-menu">
        <a class="basic-button">Sign In</a>
        <a class="basic-button">Sign Up</a>
    </div>
</div>
{% endblock content %}