/* Base */

:root {
    font-family: Tahoma, sans-serif;
    --button-color-dark-blue: #001331;
    --bg-color-grey-blue: #4a72a7;
    --bg-color-dark-blue: #232d4e;
    --font-color-white: #dcdcdc;
    --section-background: #cee2e7;
    --form-background: #bacbcf;
    --content-margin: 2%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-color-grey-blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav {
    background: linear-gradient(to bottom, var(--bg-color-dark-blue) 95%, var(--bg-color-grey-blue));
    display: flex;
    margin: 0;
    padding: 1% 0 1.5% 0;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    margin: 0 0 0 2%;
    color: var(--font-color-white);
    text-decoration: none;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.navbar-link-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3vw;
    margin: 0 2% 0 0;
}

.navbar-link {
    color: var(--font-color-white);
    text-decoration: none;
}

/* Home */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 80px;
    gap: 5%;
    animation: fadeInWelcome 2s;
}

@keyframes fadeInWelcome {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.welcome-title {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--font-color-white);
    padding: 50px;
    margin: 0 80px;
    text-align: center;
    animation: fadeInWelcomeTitle 2.5s;
}

@keyframes fadeInWelcomeTitle {
    from {
      transform: translateX(70%);
    }
    to {
      transform: translateX(0);
    }
}

.welcome-text {
    font-size: 1.5rem;
    color: var(--font-color-white);
    text-align: center;
    margin: 0 150px 15px 150px;
    animation: fadeInWelcomeText 2.5s;
}

@keyframes fadeInWelcomeText {
    from {
      transform: translateX(-70%);
    }
    to {
      transform: translateX(0);
    }
}

.welcome-menu {
    display: flex;
    margin: 20px 0;
    gap: 0 30px;
    animation: fadeInWelcomeMenu 2.5s;
}

@keyframes fadeInWelcomeMenu {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

.welcome-menu .basic-button{
    padding: 20px;
}

/* Buttons */

.basic-button {
    background-color: var(--button-color-dark-blue);
    border-radius: 25px;
    border: 0;
    color: #f9faf8;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.basic-button:disabled {
    background-color: #3881f6a6;
}

/* Sessions */

.sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0 0 200px 0;
    box-shadow: 4px 4px 6px 6px #1a1919;
    background-color: var(--section-background);
    margin-top: 0;
}

.date-search-container {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 20px;
    width: 800px;
}

.date-selector > input{
    color: var(--font-color-white);
    background-color: var(--bg-color-dark-blue);
    border: 0.5vh solid var(--bg-color-dark-blue);
    border-radius: 0.6vw;
    margin: 0 1vw 0 0;
}

.session-table-options {
    background-color: var(--button-color-dark-blue);
    color: var(--font-color-white);
    padding: 1vh 1.5vw 1vh 1.5vw;
    border: 0;
    border-radius: 25px;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Forms */

.item-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    background-color: var(--form-background);
    border-radius: 25px;
    padding-bottom: 60px;
    margin-top: 10px;
}

.item-form-container > h2 {
    margin: 4vh 0 0 0;
    left: 0;
}

.item-form {
    margin: var(--content-margin);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
}

.item-form > * {
    font-size: 1rem;
    margin: 0 0 1vh 0;
    padding: 7px 0;
}

.item-form input[type=date] {
    width: 23%;
    border-width: 0.2vh 0.4vw 0.2vh 0.4vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 2vw;
}

.item-form input[type=number] {
    width: 23%;
    border-width: 0.3vh 0.6vw 0.3vh 0.6vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 3vw;
}

.item-form select {
    width: 80%;
    border-width: 0.3vh 0.6vw 0.3vh 0.6vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 3vw;
}

.item-form-options {
    display: flex;
    justify-content: left;
    margin: 1vh 0 0 0;
    gap: 1vw;
}

fieldset {
    border: none;
}

legend {
    margin-top: 20px;
}

#session-exercises-labels {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

#session-exercises-labels > label:first-child {
    margin-left: 75px;
    margin-right: 125px;
}

#session-exercises-labels * {
    display: inline-block;
}

.exercise-form {
    display: flex;
    gap: 5px;
    padding: 7px;
}

.delete-session-exercise {
    color: #cc0303;
    background: none;
    border: none;
}

.item-form input[type=number] {
    -moz-appearance: textfield;
}

.item-form input::-webkit-outer-spin-button,
.item-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: '\2612';
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
}

input[type="checkbox"]:checked + label::before {
    color: #f10a4f;
}

/* Authentication */

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--font-color-white);
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: var(--content-margin);
    padding: 10vh 0 3vh 0;
    width: 60%;
}

.signup-form {
    gap: 2vh 0;
}

.signup-form .helptext, .signup-form .errorlist, .login-form .helptext, .login-form .errorlist {
    display: none;
}

.signup-form button {
    padding: 1.2vh 0 1.2vh 0;
    width: 30%;
}

.login-form button {
    margin-top: var(--content-margin);
    padding: 1.2vh 1.5vw 1.2vh 1.5vw;
    width: 25%;
}

#logged-out {
    font-size: 2rem;
    font-weight: bolder;
    padding: 200px 50px;
    margin: 0 80px;
    text-align: center;
    color: var(--font-color-white);
}

/* Sources & Exercises */

#sources-exercises-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 0 0 60px 0;
    box-shadow: 4px 4px 6px 6px #1a1919;
    background-color: var(--section-background);
}