:root {
    font-family: Tahoma, sans-serif;
    --button-color-light-blue: #3882f6;
    --bg-color-white: #dfdfdf;
    --bg-color-dark-blue: #1f2937;
    --font-color-white: #dcdcdc;
    --content-margin: 2%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-color-white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: var(--bg-color-dark-blue);
    display: flex;
    margin: 0;
    padding: 1% 0 1% 0;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    margin: 0 0 0 2%;
    color: var(--font-color-white);
    text-decoration: none;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.navbar-link-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3vw;
    margin: 0 2% 0 0;
}

.navbar-link {
    color: var(--font-color-white);
    text-decoration: none;
}

.welcome {
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    padding: 3%;
}

.welcome-title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--font-color-white);
    margin: 0 0 1.5vh 0;
}

.welcome-text {
    font-size: 1.5rem;
    color: var(--font-color-white);
    width: 110vh;
    margin: 0 0 1.5vh 0;
}

.welcome-menu {
    display: flex;
    align-items: center;
    gap: 4%;
}

.basic-button {
    background-color: var(--button-color-light-blue);
    border-radius: 25px;
    border: 0;
    color: #f9faf8;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.sessions {
    margin: var(--content-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
}

.date-search-container {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0 0 1% 0;
}

.date-selector > input{
    color: var(--font-color-white);
    background-color: var(--bg-color-dark-blue);
    border: 0.5vh solid var(--bg-color-dark-blue);
    border-radius: 0.6vw;
    margin: 0 1vw 0 0;
}

.session-table-options {
    background-color: var(--button-color-light-blue);
    padding: 1vh 1.5vw 1vh 1.5vw;
    border: 0;
    border-radius: 25px;
    font-size: 0.8rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.item-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.item-form-container > h2 {
    margin: 4vh 0 0 0;
    left: 0;
}

.item-form {
    margin: var(--content-margin);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
}

.item-form > * {
    font-size: 1rem;
    margin: 0 0 1vh 0;
    padding: 7px 0;
}

.item-form input[type=date] {
    width: 23%;
    border-width: 0.2vh 0.4vw 0.2vh 0.4vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 2vw;
}

.item-form input[type=number] {
    width: 23%;
    border-width: 0.3vh 0.6vw 0.3vh 0.6vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 3vw;
}

.item-form select {
    width: 80%;
    border-width: 0.3vh 0.6vw 0.3vh 0.6vw;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 3vw;
}

.item-form-options {
    display: flex;
    justify-content: left;
    margin: 1vh 0 0 0;
    gap: 1vw;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: var(--content-margin);
    padding: 10vh 0 3vh 0;
    width: 60%;
}

.signup-form {
    gap: 2vh 0;
}

.signup-form .helptext, .signup-form .errorlist, .login-form .helptext, .login-form .errorlist {
    display: none;
}

.signup-form button {
    padding: 1.2vh 0 1.2vh 0;
    width: 30%;
}

.login-form button {
    margin-top: var(--content-margin);
    padding: 1.2vh 1.5vw 1.2vh 1.5vw;
    width: 25%;
}

/* Goals */

.goals {
    margin: var(--content-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

