.session-history {
    border-collapse: separate;
    border-spacing: 0;
    border: solid #2c2c2c 2px;
    border-radius: 25px;
    width: 1000px;
}

th {
    color: var(--font-color-white);
    background-color: #000550;
}

th:first-child {
    border-top-left-radius: 22px;
}

th:last-child {
    border-top-right-radius: 22px;
}

td, th {
    border-top: 1px solid #000000;
    padding: 10px;
}

tr > .edit-icon a {
    visibility: hidden;
}

tr:hover > .edit-icon a {
    visibility: visible;
}

.session-row:hover td{
    background-color: #bcc7e0;
}

.session-row:last-child:hover td:first-child {
    background-color: #bcc7e0;
    border-left: 1px solid #bcc7e0;
    border-bottom-left-radius: 25px;
}

.session-row:last-child:hover td:last-child {
    background-color: #bcc7e0;
    border-right: 1px solid #bcc7e0;
    border-bottom-right-radius: 25px;
}

.session-data-align-center {
    text-align: center;
}

.sources-table-container, .exercise-table-container {
    margin: var(--content-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sources-exercises-table {
    border-collapse: separate;
    border-spacing: 0;
    border: solid #2c2c2c 2px;
    border-radius: 25px;
    width: 500px;
    margin: 0 0 20px 0;
}

.sources-exercises-table-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 0 3vh 0;
}

.source-exercise-button {
    display: flex;
    align-items: center;
    padding: 0.8vh 1.3vw 0.8vh 1.3vw;
    margin: 0 0 5vh 0;
}
