{% extends "practice_logs/base.html" %}

{% block content %}
<div class="item-form-container">
    <h2>Edit Session</h2>
    <form action="{% url 'practice_logs:edit_session' session.id %}" method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_table }}
        <fieldset>
            <legend>Add up to five exercises to this session:</legend>
            {{ formset.management_form }}
            <div id="session-exercises">
                <div id="session-exercises-labels">
                    <label>Exercise</label>
                    <label>BPM</label>
                </div>
                {% for form in formset.forms %}
                <div class="exercise-form">
                    {{ form.exercise }}
                    {{ form.bpm }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {{ form.DELETE }}
                    {% if form.errors %}
                    <p>The following errors have been found in this exercise:</p>
                        {{ form.errors }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="item-form-options">
            <button type="submit" class="basic-button">Submit</button>
            <a class="basic-button" href="{% url 'practice_logs:view_sessions' %}">Cancel</a>
            <a class="basic-button" href="{% url 'practice_logs:delete_session' session.id %}">Delete Session</a>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(() => {
            $('input[type="checkbox"]').each(function(index) {
                $(this).after(`<label for="${$(this).attr('id')}" class="checkbox-label"></label>`);
            });
        });
    </script>
</div>
{% endblock content %}
