{% extends "practice_logs/base.html" %}

{% block content %}
<div class="item-form-container">
    <h2>Edit Goal</h2>
    <form action="{% url 'practice_logs:edit_goal' goal.id %}" method="post" class="item-form">
        <div class="goals-form">
            {% csrf_token %}
            {{ form.as_table }}
        </div>
        <div class="item-form-options">
            <button type="submit" class="basic-button">Submit</button>
            <a class="basic-button" href="{% url 'practice_logs:view_goals' %}">Cancel</a>
            <a class="basic-button" href="{% url 'practice_logs:delete_goal' goal.id %}">Delete Goal</a>
        </div>
    </form>
</div>
{% endblock content %}
