{% extends "practice_logs/base.html" %}

{% block content %}
<div class="item-form-container">
    <h2>Edit Session</h2>
    <form action="{% url 'practice_logs:edit_session' session.id %}" method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_table }}
        <div class="item-form-options">
            <button type="submit" class="basic-button">Submit</button>
            <a class="basic-button" href="{% url 'practice_logs:view_sessions' %}">Cancel</a>
            <a class="basic-button" href="{% url 'practice_logs:delete_session' session.id %}">Delete Session</a>
        </div>
    </form>
</div>
{% endblock content %}
