{% extends "practice_logs/base.html" %}

{% block content %}
<div class="item-form-container" >
    <h2>Add New Session</h2>
    <form action="{% url 'practice_logs:new_session' %}" method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_table }}
        <fieldset>
            <legend>Add up to five exercises to this session:</legend>
            {{ formset.management_form }}
            <div id="session-exercises">
                {% for form in formset.forms %}
                <div class="exercise-form">
                    {{ form.exercise }}
                    {{ form.bpm }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {{ form.errors }}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="item-form-options">
            <button name="submit" class="basic-button" id="submit-button">Add Session</button>
            <a class="basic-button" href="/sessions/view_sessions">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}