{% extends "practice_logs/base.html" %}

{% block content %}
<div class="item-form-container" >
    <h2>Add New Goal</h2>
    <form action="{% url 'practice_logs:new_goal' %}" method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_table }}
        <div class="item-form-options">
            <button name="submit" class="basic-button">Add Goal</button>
            <a class="basic-button" href="/sessions/view_goals">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}