{% extends "practice_logs/base.html" %}

{% block content %}
<div id="sources-exercises-content">
<div class="sources-table-container">
{% if sources|length != 0 %}
<table class="sources-exercises-table">
    <caption class="sources-exercises-table-title">Sources</caption>
    <thead>
        <tr>
            <th>Source Name</th>
            <th>Author</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        <tr>
            <td>{{ source.name }}</td>
            <td>{{ source.author }}</td>
            <td>{{ source.get_type_display }}</td>
            <td class="edit-icon"><a href="{% url 'practice_logs:edit_source' source.id %}"><span class="material-symbols-outlined">edit</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="basic-button source-exercise-button" href="{% url 'practice_logs:new_source' %}"><span class="material-symbols-outlined">add</span>Add New</a>

{% if online_exercises|length == 0 %}
    <p class="sources-exercises-table-title">Exercises (Online Sources)</p>
    <p>No entries available</p>
{% else %}
<table class="sources-exercises-table">
    <caption class="sources-exercises-table-title">Exercises (Online Sources)</caption>
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Source</th>
            <th>Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        {% for exercise in online_exercises %}
        {% if source.id == exercise.source_id %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ source.name }}</td>
                <td><a href="{{ exercise.link }}" target="_blank">{{ exercise.link }}</a></td>
                <td class="edit-icon"><a href="{% url 'practice_logs:edit_online_exercise' exercise.id %}"><span class="material-symbols-outlined">edit</span></a></td>
            </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
<a class="basic-button source-exercise-button" href="{% url 'practice_logs:new_online_exercise' %}"><span class="material-symbols-outlined">add</span>Add New</a>

{% if print_exercises|length == 0 %}
    <p class="sources-exercises-table-title">Exercises (Print Sources)</p>
    <p>No entries available</p>
{% else %}
<table class="sources-exercises-table">
    <caption class="sources-exercises-table-title">Exercises (Print Sources)</caption>
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Source</th>
            <th>Page</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        {% for exercise in print_exercises %}
        {% if source.id == exercise.source_id %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ source.name }}</td>
                <td>{{ exercise.page }}</td>
                <td class="edit-icon"><a href="{% url 'practice_logs:edit_print_exercise' exercise.id %}"><span class="material-symbols-outlined">edit</span></a></td>
            </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
<a class="basic-button source-exercise-button" href="{% url 'practice_logs:new_print_exercise' %}"><span class="material-symbols-outlined">add</span>Add New</a>

{% else %}
<a class="basic-button" href="{% url 'practice_logs:new_source' %}">Add New Source</a>
{% endif %}
</div>
{% endblock content %}

